@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #000000;
  font-family: Avenir;
  font-style: normal;
}
