@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #1A1A1D;
  font-family: Avenir;
  font-style: normal;
}

img {
  margin-top: 60px;
}

#arrow {
  margin-top: 0px;
}

p {
  font-family: 'Bebas Neue', cursive;
  color: #FFFFFF;
  font-size: 36px;
}

#top-nav-option {
  margin-top: 75px;
}

a {
  font-family: 'Bebas Neue', cursive;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
  margin-left: 20px;
  margin-top: 20px;
  cursor: pointer;
}

a:hover {
  color: #C3073F;
  transition: all .5s;
}

@media screen and (max-width: 767px) {
  .row.content {
    height: auto;
  }
}

.wrapper{
  width:100%;
  padding-top: 20px;
  text-align:center;
}
h2{
  font-family:sans-serif;
  color:#fff;
}
.carousel{
  width:90%;
  margin:0px auto;
}
.slick-slide{
  margin:10px;
}
.slick-slide img{
  width:100%;
}
.slick-prev, .slick-next{
  background: #000;
  border-radius: 15px;
  border-color: transparent;
}
.card{
  border: 2px solid #fff;
  box-shadow: 1px 1px 15px #ccc;
}
.card-body{
  background: #fff;
  width: 100%;
  vertical-align: top;
}
.card-content{
  text-align: left;
  color: #333;
  padding: 15px;
}
.card-text{
  font-size: 14px;
  font-weight: 300;
}
