html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #000000;
  font-family: Avenir;
  font-style: normal;
}

p {
  color: white;
}

#screen-button {
  background-color: #6F2232;
  border: none;
  color: #FFFFFF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 8px;
  cursor: pointer;
}

#screen-button:hover {
  border-color: #C3073F;
  transition: all .5s;
}
