html, body {
  background-color: #000000;
  font-family: Avenir;
  font-style: normal;
}

p {
  color: white;
}

#screen-button {
  background-color: #6F2232;
  border: none;
  color: #FFFFFF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 8px;
  cursor: pointer;
}

#screen-button:hover {
  border-color: #C3073F;
  transition: all .5s;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}
