html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #000000;
  font-family: Avenir;
  font-style: normal;
}

iframe {
  margin-top: 200px;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .row.content {height: auto;}
}
