@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #000000;
  font-family: Avenir;
  font-style: normal;
}

iframe {
  margin-top: 200px;
}

a {
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 20px;
  margin-top: 40px;
  border-radius: 8px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .row.content {height: auto;}
}
